
<section class="content-header">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="form-group">
				<select class="form-control select2" id="provinsiOpt" style="width: 100%;float:left;">
					<option selected="selected" value="0">Pilih Provinsi</option>
					<option ng-repeat="provItem in provItems" value="{{provItem.id}}">{{provItem.name}}</option>
				</select>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="form-group">
				<select class="form-control select2 chosen-select" id="pemdaOpt" style="width: 100%;float:left;" multiple>
					<!-- <option selected="selected" value="0">Pilih Pemda</option> -->
					<option ng-repeat="pemdaItem in pemdaItems" value="{{pemdaItem.id}}">{{pemdaItem.name}}</option>
				</select>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="form-group">
				<button type="button" id="buttonsubmit" class="btn btn-default" data-widget="collapse">
					Klik me
				</button>
			</div>
		</div>
	</div>

</section>

<section class="content">
	<div class="row">
		<div style="width:100%;height:500px;">
			<highchart id="chart1" config="newsConfig" class="span9" ></highchart>
		</div>
	</div>
</section>
