<!-- <section class="content-header">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="form-group">
				<select class="form-control select2" id="provOpt" style="width: 100%;float:left;">
					<option selected="selected" value="0">Pilih Provinsi</option>
					<option ng-repeat="provItem in provItems" value="{{provItem.id}}">{{provItem.label}}</option>
				</select>
			</div>
		</div> 
	</div>
</section> -->

<section class="content">
  <div class="row">
    <div class="col-md-9">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Peta</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body mapsMiddle"></div>

      </div>

    </div>

     <div class="col-md-3">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Categories</h3>
          <div class="box-tools pull-right">
          </div>
        </div>
        <div class="box-body categories"></div>
      </div>
    </div>   

  </div>

  <div class="row">
  	<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">List of Issue</h3>
				</div>

				<div class="box-body">
					<table class="table table-bordered" id="listissuemaps">
						<caption>Please choose location first!</caption>

					</table>
				</div>
			</div>

		</div>

  </div>

</section>