.linechart{
	height: 500px;
	border: 1px solid #ddd;
}

.areachart{
	height: 500px;
	border: 1px solid #ddd;
}

.columnchart{
	height: 500px;
	border: 1px solid #ddd;
}
.piechart{
	height: 500px;
	border: 1px solid #ddd;
}